{
  "presets": ["env", "stage-2", "react", "flow"],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        ["env", { "modules": false, "useBuiltIns": false, "debug": false }],
        "stage-2",
        "react",
        "flow"
      ]
    }
  }
}
